* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navigation */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(67, 54, 86);
  z-index: 999;
}

/* 
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 15px 10px;
}

ul li a {
  text-decoration: none;
} */

/* home */
.hero {
  background-color: #151515;
  margin-top: 55px;
  width: 100%;
}

.hero-header h1 {
  color: #ffffff;
  font-size: 50px;
  padding: 25px 0;
  font-weight: 700;
}

.hero-header h4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: lighter;
}

.learn-more a {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  margin: 15px 0;
}

.hero-img {
  display: flex;
  justify-content: center;
}
.hero-img img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  background-position: center;
  margin-top: 50px;
  margin-bottom: 120px;
}

/* service section */

.service-header h2 {
  color: #040404;
  font-size: 35px;
  padding: 20px 0;
  font-weight: 700;
  text-align: center;
}

.service-header h4 {
  text-align: center;
  padding: 10px 0;
}

.medium-profile-link {
  color: purple transparent;
  font-weight: bold;
  cursor: pointer;
}

.service-header h4 span i {
  padding-left: 10px;
  font-size: 35px;
}

.card {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  margin-top: 30px;
}

.btn-effect {
  background-color: #83ba85;
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.btn-effect:hover {
  background-color: #3e8e41;
}

.card-footer a {
  border: 1px solid #695555ee;
  padding: 8px 25px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

/* about section */

.about {
  background-color: #f0f7fb;
}

.img-profile img {
  height: 300px;
  border-radius: 15px;
  margin-top: 100px;
}

.about-desc {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.about-desc h1 {
  font-weight: 700;
}
.about-desc p:first-of-type {
  font-style: italic;
  padding-top: 100px;
  padding-bottom: none;
}

.about-desc p:last-of-type {
  color: #2c3438;
  text-align: justify;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-icons {
  margin: 150px;
  display: flex;
}

.social-media-icons i {
  font-size: 30px;
  padding-right: 12px;
  color: #1994db;
  cursor: pointer;
}

.container-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-tools {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech-tools i {
  font-size: 50px;
  padding-right: 15px;
  margin-top: 30px;
  margin-bottom: 40px;
  color: purple;
}

/* blog title */

.blog-title h1 {
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
}

.card-title {
  font-weight: 900;
  font-size: 20px;
}

/* footer section */

.footer {
  height: 50px;
  background-color: #151515;
  text-align: center;
  color: whitesmoke;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

@media (min-width: 1200px) {
}
@media (max-width: 991px) {
  .hero-header h1 {
    font-size: 26px;
  }
  .service-header h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 768px) {
  .hero-header h1 {
    font-size: 26px;
  }
  .service-header h2 {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .hero {
    width: 100%;
  }
  .hero-header h1 {
    color: #ffffff;
    font-size: 30px;
    padding: 25px 0;
    font-weight: 600;
  }

  .hero-img img {
    height: 250px;
    width: 250px;
    margin-top: 25px;
    margin-bottom: 70px;
  }

  .service-header h2 {
    font-size: 1.5rem;
  }
  .card {
    box-shadow: 0px 4px 8px 0px rgba(150, 148, 148, 0.9);
    margin: 10px 0 20px 20px;
  }
}
